.loads-list-gridview {
    margin-top: 35px;
}
.adv-credits-cost {
    display: block;
    width: 100%;
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}

.adv-total-credit {
    display: block;
    width: 100%;
    font-size: 0.8em;
    color: darkgray;
    text-align: right;
}

.load-active-tag {
    color: green;
}

.load-inactive-tag {
    color:red;
}