.control-label {
    @include font-size(14);
    color: $secondarytext;
    display: block;
    text-align: left;
}

.form-control {
    @include font-size(16);
    appearance: none;
    border-radius: 0px;
    font-weight: normal;
    height: 40px;
    position: relative;
    outline: 0;
    &:focus {
        border: 1px solid $treepoppy;
        box-shadow: $inputhighlight;
    }
}

.select-addon {
    pointer-events: none;
    .fa {
        background: $white;
        color: $secondarytext;
        padding: 10px;
        position: absolute;
        right: 16px;
        top: 35px;
    }
}

text-area {
    resize: vertical;
}

.help-block {
    @include font-size(14);
    font-weight: normal;
    text-align: left;
}

.has-error {
    .control-label {
        color: $brickred;
    }
    .form-control {
        border: 1px solid $brickred;
    }
    .help-block {
        color: $brickred;
    }
}

.has-success {
    .control-label {
        color: $apple;
    }
    .form-control {
        border: 1px solid $apple;
    }
    .help-block {
        color: $apple;
    }
}

.vat-code-list-dropdown {
    max-height: 250px;
    overflow-x: hidden;
    width: 100%;
    .vat-code-list-dropdown-item {
        a {
            padding: 10px 12px;
        }
    }
}

.vat-code-input-group {
    .input-group-btn {
        position: initial;
    }
}

.step-alert-successful-container {
    background: $white;
    border: 1px solid $alto2;
    font-weight: 600;
    padding: 20px 24px;
    position: relative;
}

.success-btn-image, .email-success-btn-image, .password-success-btn-image {
    margin-top: -17px;
    position: absolute;
    top: 50%;
    width: 34px;
    @include max-width-767 {
        display: block;
        margin: 5px auto 24px auto;
        position: relative;
        text-align: center;
        width: 60px;
    }
}

.email-success-btn-image, .password-success-btn-image {
    margin-top: -22px;
    width: 44px;
    @include max-width-767 {
        margin-top: initial;
        width: 60px;
    }
}

.step-alert-message {
    display: block;
    padding-left: 55px;
    @include max-width-767 {
        padding-left: 0px;
        text-align: center;
    }
}

.empty-loads-text-wrapper {
    margin-bottom: 24px;
}

div.load-country-filtration-container::after {
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .54);
    position: absolute;
    right: 30px;
    bottom: 33px;
    transition: all 0.3s linear;
}

div.unload-country-filtration-container::after {
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .54);
    position: absolute;
    right: 15px;
    bottom: 33px;
    transition: all 0.3s linear;
}

div.car-transporter-load-country-filtration-container::after,
div.car-transporter-unload-country-filtration-container::after {
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .54);
    position: absolute;
    right: 15px;
    bottom: 33px;
    transition: all 0.3s linear;
}
