.site-login {
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
}

.login-title {
    margin-bottom: 60px;
}

.remind-password-link {
    text-decoration: underline;
}

.login-button {
    height: 50px;
    margin-top: 32px;
    width: 100%;
}

.link-to-register {
    margin-top: 24px;
}